<h1 class="d-flex justify-content-center">Stupid Coaching</h1>

<h2 class="d-flex justify-content-center">You: <%= @question %></h2>
<h2 class="d-flex justify-content-center">Coach: <%= @answer %></h2>

<div class="d-flex justify-content-center">
  <%= link_to "Do you need something else?", "/ask" %>
</div>
